* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

body {
  background-color: rgb(36, 47, 59);
  background-image: url(honeycomb-34984.svg);
  max-width: 700px;
  margin: auto;
}

.header {
  background-color: rgb(65, 65, 65);
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.title {
  display: flex;
  flex-grow: 1;
}

.header-content {
  width: 700px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  align-items: center;
}

.header h1 {
  font-size: 30px;
  font-family: "Viaoda Libre", cursive;
  padding-left: 20px;
  
}
.header a{
  opacity: 0.8;
}

.head-list {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.head-list a {
  font-size: 16px;
  opacity: 0.8;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 120px 0 40px 0;
}

.persona {
  display: flex;
  flex-direction: column;
}

.about {
  margin-top: 50px;
  width: 95%;
}

h3 {
  font-size: 1.5em;
  color: rgb(94, 94, 250);
}
h1 {
  font-size: 2.5em;
}
.about p {
  font-size: 16px;
  padding: 15px 0;
  text-align: justify;
}

.about h3 {
  padding-bottom: 15px;
}

.main-section {
  /* margin-top: 80px; */
  width: 80%;
  font-size: 16px;
}

.main-section h3 {
  margin: 20px 0;
}

.habilidades-list li {
  line-height: 25px;
  margin-left: 30px;
}

.habilidades-list ul {
  margin-left: -10px;
}

.footer {
  background-color: rgb(65, 65, 65);
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: white;
}
h4 {
  font-size: 1.4em;
}

.social {
  display: flex;
  padding: 30px;
  text-align: center;
  justify-content: center;
}

.social a {
  padding: 30px 30px 0 30px;
  font-size: 50px;
  text-decoration: none;
  width: 100px;
  color: white;
  opacity: 0.8;
}

.social a p {
  font-size: 16px;
}

.social a:hover {
  zoom: 103%;
  opacity: 1;
}

.picture {
  border-radius: 100%;
  width: 180px;
  padding: 8px;
  border: 5px solid rgb(94, 94, 250);
}

.picture:hover {
  border-color: rgb(154, 94, 250);
}

.button {
  text-decoration: none;
  color: white;
}

.button:hover {
  opacity: 1;
}
