@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Sarala', sans-serif;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body.blockSiteScrolling {
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.header-container {
  padding: 10px 0 10px;
  border-bottom: 1px solid gray;
  background-color: rgb(244, 249, 252);
}

.header-content {
  /* flex justify-between m-auto w-full md:w-11/12 xl:w-10/12 xl:max-w-4xl items-center */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}
.header-text-name {
  /* text-3xl md:text-4xl xl:text-5xl text-violet-800 */
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(129, 140, 248,.8);
}

.header-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 50;
}

.header-btn-burger {
  width: 27px;
  height: 4px;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(129, 140, 248,.8);
  transition: all .3s ease-in-out;
}

.header-nav-btn:hover {
  cursor: pointer;
}

.header-btn-burger::before,
.header-btn-burger::after {
  content: '';
  position:absolute;
  width: 27px;
  height: 4px;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(129, 140, 248,.8);
  transition: all .3s ease-in-out;
}

.header-btn-burger::before {
  transform: translateY(-8px);
  }
.header-btn-burger::after {
  transform: translateY(8px);
}

/* ANIMATION */
.header-nav-btn.open .header-btn-burger{
  transform: translateX(-27px);
  background: transparent;
  box-shadow: none;
}
.header-nav-btn.open .header-btn-burger::before {
  transform: rotate(45deg) translate(19px, -19px); 
  box-shadow: 0 2px 3px rgba(255,101,47,.3);
  background-color: #fff;
}
.header-nav-btn.open .header-btn-burger::after {
  background-color: #fff;
  transform: rotate(-45deg) translate(19px, 19px);
  box-shadow: 0 2px 3px rgba(255,101,47,.3);
}

.header-nav-text {
  text-decoration: none;
}
/*END ANIMATION*/

.header-nav {
  /* dark:text-white flex space-x-3 md:space-x-10 */
  opacity: 0;
  background-color: rgba(0,0,0,.95);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding-top: 20vh;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.header-nav-redirect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header-nav.open {
  opacity: 1;
  z-index: 10;
}


.header-nav-text {
  color: rgb(255,101,47);
  font-size: 25px;
  text-shadow: 1px 1px 8px rgba(255, 255, 255,.4);
}

/* MAIN */

.main-container {
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(244, 249, 252);
  height: 90vh;
}

.name {
  font-size: 40px;
  font-family: 'Righteous';
}

.about-picture {
  /* width: 110px; */
  height: 250px;
  border-radius: 150px;
  /* object-fit:cover; */
}

.border-img {
  border: 5px dashed rgb(170, 220, 236);
  border-radius: 150px;
  padding: 3px;
}


.about-text {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.about-name {
  padding: 20px 0;
  font-size: 30px;
  color: rgb(15, 27, 97);
  /* text-shadow: 1px 1px 3px rgba(58, 58, 58,.4); */
  font-family: 'Raleway', sans-serif;
}

.about-description {
  font-size: 19px;
  padding: 10px 10px 0;
  color: rgb(15, 27, 97);
}

.quote-container {
  height: 400px;
}

.about-quote {
  padding: 150px 30px;
  transition: all .5s linear .3s ; 
  font-size: 18px;
}

.about-quote.hide-text {
  opacity: 0;
}

.about-me-container {
  background-color: rgb(244, 249, 252);
}

.about-me-container h3,
.about-me-container p {
  transition: all .5s linear .3s ; 
}

.about-me-container h3.hide-text,
.about-me-container p.hide-text {
  opacity: 0;
}

.about-me-title, .projects-title {
  font-size: 25px;
  font-weight: 700;
  color: rgb(15, 27, 97);
  padding: 30px;
}

.about-me-text {
  text-align: justify;
  padding: 0 20px 60px;
  margin-bottom: 40px;
  color: rgb(15, 27, 97);
  font-size: 18px;
}

.carousel {
  display: none;
}

.projects-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.project-card {
  background-color: #35567B;
  border-radius: 20px;
  color: white;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 2px 3px rgba(58,58,58,.2);
}

.project-card img{
  border-radius: 10px;
  max-width: 90%;
  max-height: 350px;
  margin: 20px 0;
  box-shadow: 1px 2px 3px rgba(58,58,58,.3);
}

.project-card-description {
  height: 150px;
}

.project-card-description h5 {
  padding: 0px;
}

.btn-redirect-container {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.card-btn-redirect {
  text-decoration: none;
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}


.card-btn-redirect img {
  margin: 10px;
  height: 40px;
  border-radius: 0;
  box-shadow: none;
  filter: drop-shadow(1px 2px 2px rgba(255,255,255,.8));
  filter: invert();
}

/*FOOTER*/

.footer-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid gray;
  align-items: center;
  padding: 1.25rem;
}

.footer-main-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: rgb(129, 140, 248);
  text-shadow: 1px 1px 3px rgba(58, 58, 58,.4);
}

.footer-links-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 1.25rem;
}

.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-link img {
  height: 2rem;
  filter: drop-shadow(1px 2px 2px rgba(0,0,0,.28));
}

.footer-link p {
  display: none;
}

.footer-developer-text {
  margin-top: 25px;
  text-align: center;
  line-height: 15px;
}

.footer-developer-text p, a{
  font-size: 11px;
  color: black;
}

#heart-img {
  height: 0.675rem;
  margin-left: 3px;
}

.header-nav-social-links {
  display: flex;
  filter: invert();
  width: 50%;
  justify-content: space-around;
  padding-bottom: 150px;
}

.header-nav-social-links img{
  height: 1.5rem;
}


@media (min-width: 800px)
{
  .header-content {
    justify-content: space-around;
  }
  .header-text-name {
    font-size: 30px;
  }

  
  .about-container {
    padding-top: 0px;
    padding: 10%;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .about-picture {
    height: 350px;
    border-radius: 200px;
  }
  
  .border-img {
    border-radius: 200px;
  }
  
  .name {
    font-size: 70px;
    font-family: 'Righteous';
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
  
  .about-name {
    padding: 20px 0;
    font-size: 34px;
    color: rgb(15, 27, 97);
  }
  
  .about-description {
    font-size: 20px;
    padding: 10px 10px 0;
    color: rgb(15, 27, 97);
  }
  
  .quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-me-title, .projects-title {
    font-size: 30px;
  }
  
  .about-me-text {
    width: 70%;
    margin: auto;
    font-size: 20px;
  }

  .carousel {
    display: block;
  }
  
  .projects-cards-container {
    width: 50%;
    margin: auto;
  }

  .project-card {
    border-radius: 20px;
    color: rgb(15, 27, 97);
    margin: 0px;
    justify-content: center;
    box-shadow: none;
    background-color: white;
    height: 700px;
  }
  
  .project-card img{
    max-width: 100%;
    max-height: 400px;
    margin: 0px;
  }
  
  .card-btn-redirect {
    padding: 0px;
    margin: 0px 0;
    font-size: 16px;
    text-decoration: none;
  }

  .card-btn-redirect p {
    font-family: 'Righteous';
    color: black;
  }

  .card-btn-redirect:hover p {
    color: orange;
  }
  
  .card-btn-redirect img {
    height: 40px;
    filter: none;
    filter: drop-shadow(1px 2px 2px rgba(0,0,0,.2));
  }
  
  .btn-redirect-container {
    display: flex;
    justify-content: center;
  }
  
  .project-list {
    display: none;
  }

  .project-card-description  {
    width: 50%;
  }

  .project-card-description h5 {
    padding: 10px;
  }

  .footer-container {
    background-color: rgb(15, 27, 97);
    border-top: none;
    padding: 1.25rem 0 0 ;
  }
  
  .footer-links-container {
    width: 50%;
  }
  
  .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: invert();
    text-decoration: none;
    gap: 10px;
  }
  
  .footer-link img {
    height: 2.5rem;
    filter: drop-shadow(1px 2px 2px rgba(255,255,255,.8));
  }
  
  .footer-link p {
    display: block;
    font-family: 'Righteous';
    font-size: 16px;
  }
  
  .footer-developer-text {
    color: white;
    margin-top: 30px;
    text-align: center;
    line-height: 0px;
  }
  
  .footer-developer-text p, .footer-developer-text a{
    font-size: 14px;
    color: gray;
  }
  
  .header-nav-social-links {
    /* display: flex; */
    filter: none;
    width: 40%;
    justify-content: space-around;
    padding-bottom: 150px;
  }
  
  .header-nav-social-links img{
    height: 2rem;
  }

}
